<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Use this website to add your tasks</p>
    <a href="/task/add" class="btn btn-dark btn-lg">Add task</a>
</div>